
        html,body,ul,li,a,div,img,span,p,i
        {
            margin:0; 
            padding: 0;
        }
        img{
            border: 0;
        }
        ul
        {
            list-style: none;
        }
        a
        {
            text-decoration: none;
            color:#000;
        }

        .topbar{
        		width: 100%;
        		height: 72px;
        	}
        .topbar-content{
        				width: 1202px;
        				margin: auto;
        			}

        .topbar-left{float: left;}
        .topbar-left a{}
        .topbar-left a img{margin-top: 16px;}
        
        .line{border-top: 3px solid rgb(39,113,250);}
        .top-cen-one{
        			float: left;
        			width: 620px;
        			margin-left: 66px;
        		}
        .top-cen-one>ul{}
        .top-cen-one>ul>li{
        					float: left;
        					border-left: 1px solid rgb(238,238,238);
        					line-height: 72px;
        					padding-left: 18px;
        					padding-right: 16px;
        				}
        .top-cen-one>ul>li:nth-child(6){border-right: 1px solid rgb(238,238,238);}

        .top-cen-one>ul>li:nth-child(2) a i{
        									float: right;
         									border:4px solid; 
         									border-color: rgb(51,51,51) transparent transparent transparent ;
         									margin-top: 33px;
         									margin-left: 10px;
         								}
        .top-cen-one>ul>li:nth-child(3) a i{
        									float: right;
         									border:4px solid; 
         									border-color: rgb(51,51,51) transparent transparent transparent ;
         									margin-top: 33px;
         									margin-left: 10px;
         								}
        .top-cen-one>ul>li:nth-child(4) a i{
        									float: right;
          									border:4px solid;
          									border-color: rgb(51,51,51) transparent transparent transparent ;
          									margin-top: 33px;
          									margin-left: 10px;
          								}
        .top-cen-one>ul>li:nth-child(5) a i{
        									float: right; 
        									border:4px solid; 
        									border-color: rgb(51,51,51) transparent transparent transparent ;
        									margin-top: 33px;
        									margin-left: 10px;
        								}


        .top-cen-one>ul>li div ul{float: left;}
        .top-cen-one>ul>li div ul li{line-height: 16px;}
        .top-cen-one>ul>li div ul li:nth-child(1){font-size: 14px;font-weight: bold;}
        .top-cen-one>ul>li:nth-child(2){position: relative;}
        .top-cen-one>ul>li:hover>a{color:rgb(39,113,250);}
        .top-cen-one>ul>li:nth-child(2):hover i{transform: rotate(180deg);transition:1s;}
        .top-cen-one>ul>li:nth-child(2) div{
        									width: 640px;
        	 								height: 308px;
        	 								position: absolute;
        	 								margin-left: -19px;
        	 								border: 1px solid rgb(238,238,238);
        	 								display: none;
        	 								z-index: 2;
        	 								background: #fff;
        	 							}
        .top-cen-one>ul>li:nth-child(2):hover div{display: block;}
        .top-cen-one>ul>li:nth-child(2) div ul{
        										border-right: 1px solid rgb(238,238,238);
        										width: 111px;
        										margin-left:16px;
        										margin-top: 20px;
        									}
        .top-cen-one>ul>li:nth-child(2) div li{font-size: 12px;margin-top: 16px;}
        .top-cen-one>ul>li:nth-child(2) div a:hover{color:rgb(39,113,250);}
        .top-cen-one>ul>li:nth-child(2) div li:nth-child(1){margin-top: 0;}
        sup{
        	position: relative;
            width: 10px;
            background: #54b4f8;
            color: #fff;
            margin-left: 5px;
            }
        sup::before{
            content: '';
            position: absolute;
            width: 5px;
            height: 5px;
            background: inherit;
            top: 50%;
            left: 2px;
            transform: rotateZ(45deg);
            margin-top: 5px;
        }
        .top-cen-one>ul>li:nth-child(3){position: relative;}
        .top-cen-one>ul>li:nth-child(3) div{
        									display: none;
        									width: 116px;
        									height: 92px;
        									border: 1px solid rgb(238,238,238);
        									position: absolute;
        									margin-left: -19px;
        									z-index: 2;
        									background: #fff;
        								}
        .top-cen-one>ul>li:nth-child(3):hover div{display: block;}
        .top-cen-one>ul>li:nth-child(3):hover i{transform: rotate(180deg);transition: 1s;}
        .top-cen-one>ul>li:nth-child(3) div a:hover{color:rgb(39,113,250);}
        .top-cen-one>ul>li:nth-child(3) div ul{margin-top: 10px;}
        .top-cen-one>ul>li:nth-child(3) div ul li{
        											margin-top: 10px;
        											font-size: 13px;
        											font-weight: normal;
        											margin-left: 20px;
        										}
        .top-cen-one>ul>li:nth-child(3) div ul li a{}

        .top-cen-one>ul>li:nth-child(4){position: relative;}
        .top-cen-one>ul>li:nth-child(4) div{
        									display: none;
        									width: 116px;
        									height: 204px;
        									border: 1px solid rgb(238,238,238);
        									position: absolute;
        									margin-left: -19px;
        									z-index: 2;
        									background: #fff;
        								}
        .top-cen-one>ul>li:nth-child(4):hover div{display: block;}
        .top-cen-one>ul>li:nth-child(4):hover i{transform: rotate(180deg);transition: 1s;}
        .top-cen-one>ul>li:nth-child(4) div a:hover{color:rgb(39,113,250);}
        .top-cen-one>ul>li:nth-child(4) div ul{margin-top: 10px;}
        .top-cen-one>ul>li:nth-child(4) div ul li{
        											margin-top: 16px;
        											font-size: 13px;
        											font-weight: normal;
        											margin-left: 20px;
        										}
        .top-cen-one>ul>li:nth-child(4) div ul li a{}
        
        .top-cen-one>ul>li:nth-child(5){position: relative;}
        .top-cen-one>ul>li:nth-child(5) div{
        									display: none;
        									width: 116px;
        									height: 92px;
        									border: 1px solid rgb(238,238,238);
        									position: absolute;
        									margin-left: -19px;
        									z-index: 2;
        									background: #fff;
        								}
        .top-cen-one>ul>li:nth-child(5):hover div{display: block;}
        .top-cen-one>ul>li:nth-child(5):hover i{transform: rotate(180deg);transition: 1s;}
        .top-cen-one>ul>li:nth-child(5) div a:hover{color:rgb(39,113,250);}
        .top-cen-one>ul>li:nth-child(5) div ul{margin-top: 10px;}
        .top-cen-one>ul>li:nth-child(5) div ul li{
        											margin-top: 10px;
        											font-size: 13px;
        											font-weight: normal;
        											margin-left: 20px;
        										}
        .top-cen-one>ul>li:nth-child(5) div ul li a{}

        .top-cen-two{
        			float: left;
        			margin-top: 15px;
        			width: 176px;
        			height: 42px;
        			color:rgb(150,156,166);
        			margin-left: 52px;
        		}
        .top-cen-two p{
        	font-size: 12px;
        	cursor: pointer;
        }
        .one{float: left;}
        .one a i{
        	font-size: 25px;
        	color:rgb(150,156,166);
        	margin-left: 5px;
        }
        .two{margin-left: 68px;}
        .two a i{
        	font-size: 25px;
        	color:rgb(150,156,166);
        	margin-left: 5px;
        }
        .three{
        	margin-left: 100px;
        	margin-top: -43px;
        	float: right;
        }
        .three a i{
        	font-size: 25px;
        	color:rgb(150,156,166);
        	margin-left: 5px;
        }

        .topbar-right{
        	float: right;
        	margin-top:22px;
        	font-size: 14px;
        }
        .topbar-right a{color:rgb(39,113,250);}
        .topbar-right a:hover{text-decoration: underline;}

        .banner{
        	position: relative;
        	 width: 100%;
        	 margin: auto;
        	 height:440px;
        	}
        .banner ul{position: relative;}
        .banner ul li{
        	position: absolute;
        	 left:0; top:0;
        	}
        .banner ul li a{}
        .banner ul li img{
        	width: 100%;
        	vertical-align: bottom;
        	height: 442px;
        }
        .banner p{
        	position: absolute;
        	z-index: 1;
        	bottom:15px;
        	margin-left: 48%;
        }
        .banner p i{
        	display: inline-block;
        	 width: 10px;
        	 height: 10px;
        	 border-radius: 50%;
        	  background: #666;
        	  margin-left:9px;
        	}
        .banner p i:hover{
        	background: #eee;
        	 cursor: pointer;
        	}
        .banner p i.c{background: #eee;}

        .bos{
        	width: 280px;
        	height: 104px;
        	position: absolute;
        	left: 52%;
        	top:340px;
        }
        .xz{
        	width: 234px;
        	height: 68px;
        	background: rgb(16,213,96);
        	text-align: center;
        	cursor: pointer;
        }
        .xz a:nth-child(1) i{
        	color:#fff;
        	font-size: 30px;
        	display: inline-block;
        	margin-top: 20px;
        }
        .xz a:nth-child(2){
        	font-size: 30px;
        	color:#fff;
        	margin-left:5px;
        }
        .bb{margin-top: 15px;}
        .bb ul{}
        .bb ul li{
        	font-size:14px;
        	display: inline-block;
        	color:#fff;
        }
        .bb ul li:nth-child(2) a{
        	text-decoration:underline;
        	color: #fff;
        	margin-left: 10px;}
        .bb ul li:nth-child(3) a{
        	text-decoration:underline;
        	color: #fff;
        	margin-left: 10px;
        }

        .Img{
        	width: 474px;
        	height: 35px;
        	position: absolute;
        	left: 60%;
        	top:450px;
        }
        .Img ul{}
        .Img ul li{display: inline-block;}
        .Img ul li a{}
        .Img ul li a img{width: 55px;height: 35px;}
        .Img ul li:nth-child(1) a img{width: 30px;}
        .Img ul li:nth-child(2) a img{width: 30px;}
        .Img ul li:nth-child(3) a img{width: 35px;}
        .Img ul li:nth-child(4) a img{width: 30px;}
        .Img ul li:nth-child(5) a img{width: 30px;}
        .span{
        	position: absolute;
        	z-index: 3;
        	left: 52%;
        	top:170px;
        }
        .span p{
        	color:#fff;
        	font-size: 18px;
        	z-index:3;
        }


		.content{
			width: 1202px;
			margin:30px auto;
		}
		.content-one{
			width: 1200px;
			height: 402px;
			display:inline-block;
			display: flex;
			flex-direction:row;
			flex-wrap: nowrap;
			justify-content: center;
			margin:0 auto;
		}
		.content-one>div{
			width: 298px;
			height: 400px;
			border: 1px solid rgb(234,234,234);
		}
		.nr-one{}
		.nr-one ul{}
		.nr-one ul li:nth-child(1){
			color: rgb(39,113,250);
			text-align: center;
			margin-top: 16px;
		}
		.nr-one ul li:nth-child(2) img{
			width: 260px;
			height: 170px;
			margin-left: 18px;
			margin-top: 16px;
		}
		.nr-one ul li:nth-child(2){
			width: 262px;
			height: 172px;
		}
		.nr-one ul li:nth-child(2) img:hover{border: 1px solid rgb(39,113,250);}
		.nr-one ul li:nth-child(3) a{
			display:inline-block;
			 margin-left: 22px;
			 margin-top: 18px;
			 color: rgb(39,113,250);

			}
		.nr-one ul li:nth-child(3) a p{
			font-size: 13px;
			margin-left: 15px;
			margin-top:-13px;
			color: rgb(119,119,119);
		}
		.nr-one ul li:nth-child(3) a p:hover{text-decoration: underline;}
		.nr-one ul li:nth-child(4) a{
			display:inline-block;
			 margin-left: 22px;
			 margin-top: 5px;
			 color: rgb(39,113,250);
			}
		.nr-one ul li:nth-child(4) a p{
			font-size: 13px;
			margin-left: 15px;
			margin-top:-13px;
			color: rgb(119,119,119);
		}
		.nr-one ul li:nth-child(4) a p:hover{text-decoration: underline;}
		.nr-one ul li:nth-child(5) a{
			display:inline-block;
			 margin-left: 22px;
			 margin-top: 5px;
			 color: rgb(39,113,250);
			}
		.nr-one ul li:nth-child(5) a p{
			font-size: 13px;
			margin-left: 15px;
			margin-top:-13px;
			color: rgb(119,119,119);
		}
		.nr-one ul li:nth-child(5) a p:hover{text-decoration: underline;}
		.nr-one ul li:nth-child(6) a{
			display:inline-block;
			 margin-left: 22px;
			 margin-top: 5px;
			 color: rgb(39,113,250);
			}
		.nr-one ul li:nth-child(6) a p{
			font-size: 13px;
			margin-left: 15px;
			margin-top:-13px;
			color: rgb(119,119,119);
		}
		.nr-one ul li:nth-child(6) a p:hover{text-decoration: underline;}
		.nr-one ul li:nth-child(7) a{
			display: inline-block;
			 color: rgb(170,170,170);
			 font-size: 13px;
			 margin-left: 210px;
			 margin-top: 18px;
			}
		.nr-one ul li:nth-child(7) a:hover{text-decoration: underline;}

		.nr-two{}
		.nr-two ul{}
		.nr-two ul li:nth-child(1){
			color: rgb(39,113,250);
			text-align: center;
			margin-top: 16px;
		}
		.nr-two ul li:nth-child(2) img{
			width: 260px;
			height: 170px;
			margin-left: 18px;
			margin-top: 16px;
		}
		.nr-two ul li:nth-child(2){width: 262px;height: 172px;}
		.nr-two ul li:nth-child(2) img:hover{border: 1px solid rgb(39,113,250);}
		.nr-two ul li:nth-child(3) a{
			display:inline-block;
			 margin-left: 22px;
			 margin-top: 18px;
			 color: rgb(39,113,250);
			}
		.nr-two ul li:nth-child(3) a p{
			font-size: 13px;
			margin-left: 15px;
			margin-top:-13px;
			color: rgb(119,119,119);
		}
		.nr-two ul li:nth-child(3) a p:hover{text-decoration: underline;}
		.nr-two ul li:nth-child(4) a{
			display:inline-block;
			 margin-left: 22px;
			 margin-top: 5px;
			 color: rgb(39,113,250);
			}
		.nr-two ul li:nth-child(4) a p{
			font-size: 13px;
			margin-left: 15px;
			margin-top:-13px;
			color: rgb(119,119,119);
		}
		.nr-two ul li:nth-child(4) a p:hover{text-decoration: underline;}
		.nr-two ul li:nth-child(5) a{
			display:inline-block;
			 margin-left: 22px;
			 margin-top: 5px;
			 color: rgb(39,113,250);
			}
		.nr-two ul li:nth-child(5) a p{
			font-size: 13px;
			margin-left: 15px;
			margin-top:-13px;
			color: rgb(119,119,119);
		}
		.nr-two ul li:nth-child(5) a p:hover{text-decoration: underline;}
		.nr-two ul li:nth-child(6) a{
			display:inline-block; 
			margin-left: 22px;
			margin-top: 5px;
			color: rgb(39,113,250);
		}
		.nr-two ul li:nth-child(6) a p{
			font-size: 13px;
			margin-left: 15px;
			margin-top:-13px;
			color: rgb(119,119,119);
		}
		.nr-two ul li:nth-child(6) a p:hover{text-decoration: underline;}
		.nr-two ul li:nth-child(7) a{
			display: inline-block;
		 	color: rgb(170,170,170);
		 	font-size: 13px;
		 	margin-left: 210px;
		 	margin-top: 18px;
		}
		.nr-two ul li:nth-child(7) a:hover{text-decoration: underline;}

		.nr-three{}
		.nr-three ul{}
		.nr-three ul li:nth-child(1){
			color: rgb(39,113,250);
			text-align: center;
			margin-top: 16px;
		}
		.nr-three ul li:nth-child(2) img{
			width: 260px;
			height: 170px;
			margin-left: 18px;
			margin-top: 16px;
		}
		.nr-three ul li:nth-child(2){width: 262px;height: 172px;}
		.nr-three ul li:nth-child(2) img:hover{border: 1px solid rgb(39,113,250);}
		.nr-three ul li:nth-child(3) a{
			display:inline-block;
			 margin-left: 22px;
			 margin-top: 18px;
			 color: rgb(39,113,250);
			}
		.nr-three ul li:nth-child(3) a p{
			font-size: 13px;
			margin-left: 15px;
			margin-top:-13px;
			color: rgb(119,119,119);
		}
		.nr-three ul li:nth-child(3) a p:hover{text-decoration: underline;}
		.nr-three ul li:nth-child(4) a{
			display:inline-block;
			 margin-left: 22px;
			 margin-top: 5px;
			 color: rgb(39,113,250);
			}
		.nr-three ul li:nth-child(4) a p{
			font-size: 13px;
			margin-left: 15px;
			margin-top:-13px;
			color: rgb(119,119,119);
		}
		.nr-three ul li:nth-child(4) a p:hover{text-decoration: underline;}
		.nr-three ul li:nth-child(5) a{
			display:inline-block; 
			margin-left: 22px;
			margin-top: 5px;
			color: rgb(39,113,250);
		}
		.nr-three ul li:nth-child(5) a p{
			font-size: 13px;
			margin-left: 15px;
			margin-top:-13px;
			color: rgb(119,119,119);
		}
		.nr-three ul li:nth-child(5) a p:hover{text-decoration: underline;}
		.nr-three ul li:nth-child(6) a{
			display:inline-block;
			 margin-left: 22px;
			 margin-top: 5px;
			 color: rgb(39,113,250);
			}
		.nr-three ul li:nth-child(6) a p{
			font-size: 13px;
			margin-left: 15px;
			margin-top:-13px;
			color: rgb(119,119,119);
		}
		.nr-three ul li:nth-child(6) a p:hover{text-decoration: underline;}
		.nr-three ul li:nth-child(7) a{
			display: inline-block; 
			color: rgb(170,170,170);
			font-size: 13px;
			margin-left: 210px;
			margin-top: 18px;
		}
		.nr-three ul li:nth-child(7) a:hover{text-decoration: underline;}

		.nr-four{}
		.nr-four ul{}
		.nr-four ul li:nth-child(1){
			color: rgb(39,113,250);
			text-align: center;
			margin-top: 16px;
		}
		.nr-four ul li:nth-child(2) img{
			width: 260px;
			height: 170px;
			margin-left: 18px;
			margin-top: 16px;
		}
		.nr-four ul li:nth-child(2){width: 262px;height: 172px;}
		.nr-four ul li:nth-child(2) img:hover{border: 1px solid rgb(39,113,250);}
		.nr-four ul li:nth-child(3) a{
			display:inline-block;
			 margin-left: 22px;
			 margin-top: 18px;
			 color: rgb(39,113,250);
			}
		.nr-four ul li:nth-child(3) a p{
			font-size: 13px;
			margin-left: 15px;
			margin-top:-13px;
			color: rgb(119,119,119);
		}
		.nr-four ul li:nth-child(3) a p:hover{text-decoration: underline;}
		.nr-four ul li:nth-child(4) a{
			display:inline-block;
			 margin-left: 22px;
			 margin-top: 5px;
			 color: rgb(39,113,250);
			}
		.nr-four ul li:nth-child(4) a p{
			font-size: 13px;
			margin-left: 15px;
			margin-top:-13px;
			color: rgb(119,119,119);
		}
		.nr-four ul li:nth-child(4) a p:hover{text-decoration: underline;}
		.nr-four ul li:nth-child(5) a{
			display:inline-block;
			 margin-left: 22px;
			 margin-top: 5px;
			 color: rgb(39,113,250);
			}
		.nr-four ul li:nth-child(5) a p{
			font-size: 13px;
			margin-left: 15px;
			margin-top:-13px;
			color: rgb(119,119,119);
		}
		.nr-four ul li:nth-child(5) a p:hover{text-decoration: underline;}
		.nr-four ul li:nth-child(6) a{
			display:inline-block;
			 margin-left: 22px;
			 margin-top: 5px;
			 color: rgb(39,113,250);
			}
		.nr-four ul li:nth-child(6) a p{
			font-size: 13px;
			margin-left: 15px;
			margin-top:-13px;
			color: rgb(119,119,119);
		}
		.nr-four ul li:nth-child(6) a p:hover{text-decoration: underline;}
		.nr-four ul li:nth-child(7) a{
			display: inline-block;
			 color: rgb(170,170,170);
			 font-size: 13px;
			 margin-left: 210px;
			 margin-top: 18px;
			}
		.nr-four ul li:nth-child(7) a:hover{text-decoration: underline;}
		

		.content-two{
			width: 1202px;
			height: 386px;
			margin-top:68px;
		}
		.ma{
			width: 1202px;
			height: 38px;
			border-bottom: 1px solid rgb(234,234,234);
		}
		.cp{}
		.cp ul{}
		.cp ul li{
			display: inline-block;
			color: rgb(39,113,255);
			font-size: 17px;
		}
		.cp ul li:nth-child(2){margin-left: 10px;}

		.main{
			width: 1202px;
			height: 366px;
			margin:0 auto;
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
			justify-content:space-between;
			margin-top: 16px;
		}
		.main>div{
			width: 390px;
			height: 160px;
			cursor: pointer;
		}
		.ma-one:hover{
			box-shadow: 1px 1px 4px 6px #eee;
			transform: translateY(-5px);
			transition: 0.5s;
			border-radius: 3px;
		}
		.ma-one ul{}
		.ma-one ul li{}
		.ma-one ul li:nth-child(1) img{
			float: left;
			margin-top: 40px;
			margin-left: 56px;
		}
		.ma-one ul li:nth-child(2) p{
			display: inline-block;
			width: 160px;
			height: 16px;
			margin-top: 40px;
			margin-left: 48px;
		}
		.ma-one ul li:nth-child(3) p{
			display: inline-block;
			 font-size: 12px;
			 color: rgb(132,132,132);
			 width: 160px;
			 height: 46px;
			 margin-top:14px;
			 margin-left: 48px;
			 line-height: 20px;
			}

		.ma-two:hover{
			box-shadow: 1px 1px 4px 6px #eee;
			transform: translateY(-5px);
			transition: 0.5s;
			border-radius: 3px;
		}
		.ma-two ul{}
		.ma-two ul li{}
		.ma-two ul li:nth-child(1) img{
			float: left;
			margin-top: 40px;
			margin-left: 56px;
		}
		.ma-two ul li:nth-child(2) p{
			display: inline-block;
			width: 160px;
			height: 16px;
			margin-top: 40px;
			margin-left: 48px;
		}
		.ma-two ul li:nth-child(3) p{
			display: inline-block;
			 font-size: 12px;
			 color: rgb(132,132,132);
			 width: 160px;
			 height: 46px;
			 margin-top:14px;
			 margin-left: 48px;
			 line-height: 20px;
			}

		.ma-three:hover{
			box-shadow: 1px 1px 4px 6px #eee;
			transform: translateY(-5px);
			transition: 0.5s;
			border-radius: 3px;
		}
		.ma-three ul{}
		.ma-three ul li{}
		.ma-three ul li:nth-child(1) img{
			float: left;
			margin-top: 40px;
			margin-left: 56px;
		}
		.ma-three ul li:nth-child(2) p{
			display: inline-block;
			width: 160px;
			height: 16px;
			margin-top: 40px;
			margin-left: 48px;
		}
		.ma-three ul li:nth-child(3) p{
			display: inline-block;
			 font-size: 12px;
			 color: rgb(132,132,132);
			 width: 160px;
			 height: 46px;
			 margin-top:14px;
			 margin-left: 48px;
			 line-height: 20px;
			}

		.ma-four:hover{
			box-shadow: 1px 1px 4px 6px #eee;
			transform: translateY(-5px);
			transition: 0.5s;
			border-radius: 3px;
		}
		.ma-four ul{}
		.ma-four ul li{}
		.ma-four ul li:nth-child(1) img{
			float: left;
			margin-top: 40px;
			margin-left: 56px;
		}
		.ma-four ul li:nth-child(2) p{
			display: inline-block;
			width: 160px;
			height: 16px;
			margin-top: 40px;
			margin-left: 48px;
		}
		.ma-four ul li:nth-child(3) p{
			display: inline-block;
			 font-size: 12px;
			 color: rgb(132,132,132);
			 width: 160px;
			 height: 46px;
			 margin-top:14px;
			 margin-left: 48px;
			 line-height: 20px;
			}

		.ma-five:hover{
			box-shadow: 1px 1px 4px 6px #eee;
			transform: translateY(-5px);
			transition: 0.5s;
			border-radius: 3px;
		}
		.ma-five ul{}
		.ma-five ul li{}
		.ma-five ul li:nth-child(1) img{
			float: left;
			margin-top: 40px;
			margin-left: 56px;
		}
		.ma-five ul li:nth-child(2) p{
			display: inline-block;
			width: 160px;
			height: 16px;
			margin-top: 40px;
			margin-left: 48px;
		}
		.ma-five ul li:nth-child(3) p{
			display: inline-block;
			 font-size: 12px;
			 color: rgb(132,132,132);
			 width: 160px;
			 height: 46px;
			 margin-top:14px;
			 margin-left: 48px;
			 line-height: 20px;
			}

		.ma-six:hover{
			box-shadow: 1px 1px 4px 6px #eee;
			transform: translateY(-5px);
			transition: 0.5s;
			border-radius: 3px;
		}
		.ma-six ul{}
		.ma-six ul li{}
		.ma-six ul li:nth-child(1) img{
			float: left;
			margin-top: 40px;
			margin-left: 56px;
		}
		.ma-six ul li:nth-child(2) p{
			display: inline-block;
			width: 160px;
			height: 16px;
			margin-top: 40px;
			margin-left: 48px;
		}
		.ma-six ul li:nth-child(3) p{
			display: inline-block;
			 font-size: 12px;
			 color: rgb(132,132,132);
			 width: 160px;
			 height: 46px;
			 margin-top:14px;
			 margin-left: 48px;
			 line-height: 20px;
			}


		.content-three{
			width: 1202px;
			height: 336px;
			margin-top:68px;
		}
		.mz{
			width: 1202px;
			height: 38px;
			border-bottom: 1px solid rgb(234,234,234);
		}
		.gl{}
		.gl ul{}
		.gl ul li{
			display: inline-block;
			color: rgb(39,113,255);
			font-size: 17px;
		}
		.gl ul li:nth-child(2){margin-left: 10px;}

		.main-two{
			width: 1202px;
			height: 244px;
			 margin:0 auto;
			 display: flex;
			 flex-direction: row;
			 flex-wrap: nowrap;
			 justify-content:space-between;
			 margin-top:40px;
			}
		.main-two>div{
			width: 188px;
			height: 230px;
			cursor: pointer;
		}
		.mz-one:hover{
			box-shadow: 1px 1px 4px 6px #eee;
			transform: translateY(-5px);
			transition: 0.5s;
			border-radius: 3px;
		}
		.mz-one ul{}
		.mz-one ul li{}
		.mz-one ul li:nth-child(1) img{margin-left: 54px;margin-top:40px;}
		.mz-one ul li:nth-child(2) p{text-align: center;margin-top: 10px;}
		.mz-one ul li:nth-child(3) p{
			font-size: 12px;
			color: rgb(132,132,132);
			text-align: center;
			margin-top: 18px;
		}
		
		.mz-two:hover{
			box-shadow: 1px 1px 4px 6px #eee;
			transform: translateY(-5px);
			transition: 0.5s;
			border-radius: 3px;
		}
		.mz-two ul{}
		.mz-two ul li{}
		.mz-two ul li:nth-child(1) img{margin-left: 54px;margin-top:40px;}
		.mz-two ul li:nth-child(2) p{text-align: center;margin-top: 10px;}
		.mz-two ul li:nth-child(3) p{
			font-size: 12px;
			color: rgb(132,132,132);
			text-align: center;
			margin-top: 18px;
		}

		.mz-three:hover{
			box-shadow: 1px 1px 4px 6px #eee;
			transform: translateY(-5px);
			transition: 0.5s;
			border-radius: 3px;
		}
		.mz-three ul{}
		.mz-three ul li{}
		.mz-three ul li:nth-child(1) img{margin-left: 54px;margin-top:40px;}
		.mz-three ul li:nth-child(2) p{text-align: center;margin-top: 10px;}
		.mz-three ul li:nth-child(3) p{
			font-size: 12px;
			color: rgb(132,132,132);
			text-align: center;
			margin-top: 18px;
		}

		.mz-four:hover{
			box-shadow: 1px 1px 4px 6px #eee;
			transform: translateY(-5px);
			transition: 0.5s;
			border-radius: 3px;
		}
		.mz-four ul{}
		.mz-four ul li{}
		.mz-four ul li:nth-child(1) img{margin-left: 54px;margin-top:40px;}
		.mz-four ul li:nth-child(2) p{text-align: center;margin-top: 10px;}
		.mz-four ul li:nth-child(3) p{
			font-size: 12px;
			color: rgb(132,132,132);
			text-align: center;
			margin-top: 18px;
		}

		.mz-five:hover{
			box-shadow: 1px 1px 4px 6px #eee;
			transform: translateY(-5px);
			transition: 0.5s;
			border-radius: 3px;
		}
		.mz-five ul{}
		.mz-five ul li{}
		.mz-five ul li:nth-child(1) img{margin-left: 54px;margin-top:40px;}
		.mz-five ul li:nth-child(2) p{text-align: center;margin-top: 10px;}
		.mz-five ul li:nth-child(3) p{
			font-size: 12px;
			color: rgb(132,132,132);
			text-align: center;
			margin-top: 18px;
		}
		
		.mz-six:hover{
			box-shadow: 1px 1px 4px 6px #eee;
			transform: translateY(-5px);
			transition: 0.5s;
			border-radius: 3px;
		}
		.mz-six ul{}
		.mz-six ul li{}
		.mz-six ul li:nth-child(1) img{margin-left: 54px;margin-top:40px;}
		.mz-six ul li:nth-child(2) p{text-align: center;margin-top: 10px;}
		.mz-six ul li:nth-child(3) p{
			font-size: 12px;
			color: rgb(132,132,132);
			text-align: center;
			margin-top: 18px;
		}

		
		.content-four{width: 1202px;height: 200px;}
		.dn{
			width: 1202px;
			height: 38px;
			border: 1px solid rgb(234,234,234);
		}
		.zs{}
		.zs ul{}
		.zs ul li{
			display: inline-block;
			color: rgb(39,113,255);
			font-size: 17px;
			margin-left: 20px;
			margin-top:7px;
		}
		.zs ul li:nth-child(2){margin-left: 10px;}

		.zx{
			width: 1202px;
			height: 108px;
			border: 1px solid rgb(234,234,234);
			margin-top: 9px;
			margin-left: -1px;
			display: flex;
			flex-direction: row;
			flex-wrap: nowrap;
			justify-content:space-between;
		}
		.zx-one{
			width: 244px;
			height: 40px;
			margin-top:36px;
			margin-left: 25px;
		}
		.zx-one ul{}
		.zx-one ul li{font-size: 13px;}
		.zx-one ul li a:hover{text-decoration: underline;}
		.zx-one ul li:nth-child(2){margin-top:8px;}

		.zx-two{
			width: 244px;
			height: 40px;
			margin-top:36px;
			margin-right: 25px;
		}
		.zx-two ul{}
		.zx-two ul li{font-size: 13px;}
		.zx-two ul li a:hover{text-decoration: underline;}
		.zx-two ul li:nth-child(2){margin-top:8px;}

		.zx-three{
			width: 244px;
			height: 40px;
			margin-top:36px;
			margin-right: 25px;
		}
		.zx-three ul{}
		.zx-three ul li{font-size: 13px;}
		.zx-three ul li a:hover{text-decoration: underline;}
		.zx-three ul li:nth-child(2){margin-top:8px;}

		.zx-four{
			width: 244px;
			height: 40px;
			margin-top:36px;
			margin-right: 25px;
		}
		.zx-four ul{}
		.zx-four ul li{font-size: 13px;}
		.zx-four ul li a:hover{text-decoration: underline;}
		.zx-four ul li:nth-child(2){margin-top:8px;}

		.footer{
			width: 100%;
			height: 200px;
			background: rgb(246,246,246);
			position: relative;
		}
		.footer-top{width: 1048px;
            margin: 0 auto;

        }
		.footer-top h3{
			font-weight: bold;
			font-size: 14px;
			color: rgb(157,157,157);
			margin-left: 40px;
			padding-top: 46px;
		}
		.footer-top ul{margin-left: 112px;margin-top: -40px;}
		.footer-top ul li{display: inline-block;}
		.footer-top a{
			float: right; 
			display: inline-block;
			color: rgb(40,113,213);
			font-size: 14px;
			margin-left:970px;
			margin-top: -20px;
			width: 78px;
			height: 14px;
			margin-top: -20px;
		}
		.footer-top a:hover{text-decoration: underline;}
		.footer-bottom{
			text-align:center;
			
			height: 44px;
			width: 338px;
            position: absolute;
            left: 50%;
            margin-left: -169px;
            top: 128px;

		}
		.footer-bottom ul{}
		.footer-bottom ul:nth-child(1) li{
			display: inline-block;
			font-size: 12px;
			margin-left: 5px;
		}
		.footer-bottom ul:nth-child(1) li:hover{text-decoration: underline;}
		.footer-bottom ul:nth-child(2) li{}
		.footer-bottom ul:nth-child(2) li p{
			font-size: 12px;
			color: rgb(158,158,158);
			margin-top: 5px;
		}

		.tck{
			height:100%;
			 width: 100%;
			 background: rgba(102,102,102,0.5);
			 position: fixed;
			 z-index: 6; 
			 display: none;
			  }
		.xtck{
			width: 550px;
			height: 380px;
			background: #fff;
			position: fixed;
			z-index:5;
			margin-top: 150px;
			margin-left:400px;
		}
		.xtck span{
			position: absolute;
			right: 10px;
			top:5px;
			cursor: pointer;
			color: rgb(139,139,139);
		}
		.a{text-align: center;}
		.a h3{font-weight: normal;}
		.a p{color: rgb(102,102,102);}
		.a a{color: rgb(52,129,207);}
		.a a:hover{text-decoration: underline;}
		.a img{margin-top: 46px;}
		.ne{}
		.ne ul{margin-left:300px;}
		.ne ul li{
			display: inline-block;
			font-size: 12px;
			margin-left:5px;
			color: rgb(102,102,102);
			margin-top: 110px;
		}
		.ne ul li a{color: rgb(102,102,102);}
		.ne ul li a:hover{text-decoration: underline;}


		.tck-two{
			height:100%;
			 width: 100%;
			 background: rgba(102,102,102,0.5);
			 position: fixed;
			 z-index: 6; 
			 display: none;
			}
		.xtck-two{
			width: 550px;
			height: 380px;
			background: #fff;
			position: fixed;
			z-index:5;
			margin-top: 150px;
			margin-left:400px;
		}
		.sx{
			position: absolute;
			right: 10px;
			top:5px;
			cursor: pointer;
			color: rgb(139,139,139);
		}
		
		.b{text-align: center;}
		.b h3{}
		.b p:nth-child(2){color: rgb(102,102,102);}
		.b p:nth-child(2) a{color: rgb(52,129,207);}
		.b p:nth-child(2) a:hover{text-decoration: underline;}
		.d input:nth-child(1){
			margin-top:38px;
			width: 270px;
			height: 30px;
		}
		.d input:nth-child(3){
			width: 270px;
			height: 30px;
			margin-top: 10px;
		}
		.b p:nth-child(4){
			width: 270px;
			height: 40px;
			background-color:rgb(134,206,47);
			margin-left:140px;
			margin-top: 10px;
		}
		.b p:nth-child(4) a{
			display: inline-block;
			 margin-top: 8px;
			 color: #fff;
			}

		.ty{}
		.ty ul{margin-left:300px;}
		.ty ul li{
			display: inline-block;
			font-size: 12px;
			margin-left:5px;
			color: rgb(102,102,102);
			margin-top: 100px;
		}
		.ty ul li a{color: rgb(102,102,102);}
		.ty ul li a:hover{text-decoration: underline;}
